body{
    background-color: lightgrey;
    text-align: justify;
    margin-left: 10%;
}
p{
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 12px;
    color: darkgrey;
}
h1{
  margin-left: 45%;
  style: bold;
  color: darkred;
}
h2c{
    margin-left: 40%;
    color: darkred;
}
ol{
    margin-left: 40%;
}
h2{
    color: darkred;
}
